
    <h1>Dashboard</h1>
        <%= link_to 'Recruit new a new gunslinger', recruits_path %>
    <ul>
        <% gunslingers.each do |gunslinger| %>
            <li>
                <h2>
                    <%= "#{gunslinger.first_name} #{gunslinger.last_name}" %>
                </h2>
                <% unless badge_image_url(gunslinger).nil? %>
                    <%= image_tag badge_image_url(gunslinger) %>
                <% end %>
            </li>
        <% end %>
    </ul>
